
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

$blue : #3490dc;
$indigo : #6574cd;
$purple : #9561e2;
$pink : #f6609b;
$red : #e3342f;
$orange : #f6993f;
$green : #38c172;
$teal : #4dc0b5;
$cyan : #6cb2eb;

.blue{
    color : $blue
}

.indigo {
    color : $indigo;
}

.purple{
    color : $purple;
}

.pink {
    color : $pink;
}

.red {
    color : $red;
}

.orange{
    color : $orange;
}

.green{
    color : $green;

}

.teal {
    color : $teal;

}

.cyan{
    color : $cyan;
}